 .Product {
    max-width: 500px;

}
.Product {
    text-align: end;
}

.Product title {
  float: left;
}


@media (min-width: 620px) {
  .Products section {
    flex-wrap: wrap;
  }
}
.Products section h2 {
  color: red;
}
 



