 .Product {
    max-width: 500px;

}
.Product {
    text-align: end;
}

.Product title {
  float: left;
}

.Product section {
  width: 100%;
  left: 500px;
  top: 130px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.432); 
  background-color: rgb(228, 227, 227);
  color: black;
  position: absolute;


  
}

@media (min-width: 620px) {
  .Product section {
    flex-wrap: wrap;
  }
}
.Product section h2 {
  color: red;
}





/* .Product h1, .Product p {
  font-family: Muli,sans-serif;
  left: 20rem;
  max-width: 300px;
  position: relative;
}
.Product h1 {
  border-bottom: 1px solid #bab7b1;
  border-top: none;
  color: #000;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2rem;
}
.Header h1, .Header p {
  border-bottom: 3px solid transparent;
  color: #f2f2f2;
  font-family: Muli,sans-serif;
  font-weight: 400;
  letter-spacing: 1.82px;
  padding: 0.5rem 3rem;
  text-decoration: none;
}
.Header h1 {
  font-size: .9rem;
  text-transform: uppercase;
}
user agent stylesheet
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
user agent stylesheet
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.Header section {
  background-color: hsla(0,2%,9%,.423);
  color: #fff;
  left: 1%;
  margin: 10px;
  max-width: 40%;
  padding: 15px;
  position: absolute;
  top: 30%;
}
.Header {
  font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
  margin-bottom: 0;
  position: relative;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e4e0e0;
  font-family: "Bree Serif",serif;
  margin: 0;
} */