.CategoryItem {
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.575);
  margin: 9px;
  

 }
 .CategoryItem img {
  /* border-radius: 20px 20px 0 0; */
  max-width: 250px;
  width: 100%;
  height: 250px;
  display: block;
 }
 .container {
  padding: 18px;
 
}
.CategoryItem Link {
  color: black;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
}












