.ProductItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.63);
  border-radius: 1rem;
  /* transition-duration: 1ms; */
 margin-top: 3rem;
  width: 290px;
  /* padding: 1rem; */
  height: 400px;
  padding-left: 15px;
  padding-right: 0px;background-color: none;
  border-style: 4px solid black;
  /* padding-top: 2rem; */
 }
 @media (min-width: 620px) {
    .ProductItem {
      flex-wrap: wrap;

    }
}
 .ProductItem img {
    padding-top: 12px;
    max-width: 270px;
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 2rem;
    /* background-color: #000; */
    /* transition: transfrom 1s; */


 }
 /* .ProductItem img:hover{
   transform: scale(1.01);
 } */
 .container {
  padding: 1.3rem;

 
}
.ProductItem a {
  color: black;
  font-size: 1.7rem;
  text-align: center;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;  
  top: 4rem;
  vertical-align: 3px;  
  margin-bottom: 8px;
}
 .price {
  position: absolute;
  /* z-index: 3; */
  /* right: 230px; */

  background-color: black;
  color: rgb(245, 243, 243);
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin: -360px 20px 1rem 151px;
 }
/* .price{
  padding: 5px;
  margin: 3px;
  font-size: 1.2rem;
  background-color: black;
  text-align: center;
  color: white;
  margin-bottom: 4px;
  border-radius: 10px;
} */

/* .ProductItem .price {
  position: absolute;
  z-index: 3;
  right: 0;
  
  background-color: rgb(63, 29, 5);
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
} */

