.Header {
  position: relative;
  margin-bottom: 5rem;
}

.Header img {
  position: relative;
  width: 100%;
  height: 75vh;
  min-height: 380px;
  margin: 2rem 0;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.Header section {
  position	: absolute;
	top		: 175px;
	left		: 0;
	width		: 100%;
  color: black;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  /* position: absolute;
  bottom: -3rem;
  right: 2rem;
  max-width: 500px;
  margin-left: 2rem;

  background-color: rgb(127, 197, 238);
  padding: 0 2rem 0;
  border-radius: 2rem;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3); */

}
.Header h1 {
  font-size: 2rem;
}