.Header {
  position: relative;
  margin-bottom: 5rem;
  box-shadow: none;
}


@media (min-width: 620px) {
  .Header {
    flex-wrap: wrap;
  }
}
.Header img {
  position: relative;
  width: 100%;
  height: 75vh;
  min-height: 380px;
  margin: 2rem 0;
  border-radius: 0rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .3); */
}
.Header section {
  position	: absolute;
    top		: 360px;
    left		: 0;
    width		: 100%;
  color: black;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgba(56, 54, 54, 0.603);
  color: white;
  flex-wrap: wrap;
}


  
  
  /* position: absolute;
  bottom: -3rem;
  right: 2rem;
  max-width: 500px;
  margin-left: 2rem;
  background-color: rgb(127, 197, 238);
  padding: 0 2rem 0;
  border-radius: 2rem;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3); */


.Header h1 {
  font-size: 2rem;
}

.Img {
    width: 70%;
    

}


.Total {
  font-size: 1.4rem;
  color: red;
}
.item {
  font-size: 2rem;
  color: rgb(192, 83, 83);
}

 .btn1 {
   color: white;
   margin-right: 5px ;
   background-color: #000;
   width: 63%;
   border-radius: 7px;
   padding: 7px 30px;
  

}
.btn2 {
  color: white;
  margin-right: 5px ;
  background-color: #000;
  width: 63%;
   border-radius: 7px;
   padding: 7px 30px;


}
.btn3 {
  color: black;
  margin-right: 15px ;
  background-color: rgb(245, 30, 30);
  width: 120%;
  padding: 7px;
  border-radius: 5px;

}
.btn3:hover{
  color: #fff;
  background-color: #000;
}
.Link {
  border: 2px solid black;
 
  color: white;
  width: 200px;
}
.Link:hover {
  border: 2px solid black;
  width: 200px;
  color: white;
  background-color: rgb(165, 150, 150);
}

.label {
  margin-left: 1rem;
  padding-right: 2px; 
  font-size: 1.5rem;
}
.label1 {
  padding: 5px;
  margin: 5px;
  height: 15px;
  border-radius: 12px;
  margin-top: 2rem;

}
.btn-order {
  justify-content: end;
}
.button {
  padding: 5px;
  margin: 1rem 1rem;
  color: white;
  background-color: red;
  border-radius: 8px;
  height: 45px;
  font-size: 1.2rem;
  

}
.button:hover {
  color: red;
  background-color: #fff;
}

.Auth {
  margin: 2rem;
  padding: 1rem;
}

.sign-btn-in {
  padding: 5px 40px;
  margin: 1rem 1rem;
  color: white;
  background-color: red;
  border-radius: 7px;
}
.sign-btn-up {
  padding: 5px 40px;
  margin: 0 3rem;
  color: red;
  background-color: #fff;
  border-radius: 7px;

}
.sign-btn-up:hover {
    color: #000;
    background-color: red;
}
.sign-btn-in:hover {
  color: red;
  background-color: white;
}
.items {
  padding: 2px;
  margin: 2px;
  font-size: 1.3rem;
  letter-spacing:0.2ex;}




.Products section h2 {
  color: red;
}
 
.Checkout {
  border: 4px outset red;
}
.Checkout:hover {
  background-color: #fff;
  color: red;
  border: 4px double black;
}

.button1 {
  background-color: black;
  padding: .4rem 1.8rem;
  margin: .7rem;
  border-radius: 12px;
  color: #fff;

}

.button1:hover {
  background-color: red;
  color: black;
}
.product-media {
  display: flex;
  justify-content: center; 
  padding: 2rem ;
  flex-wrap: wrap;
  background-color:rgb(228, 227, 227);
  margin-top: 2rem ; 
}
.product-img {
  width: 250px;
  height:  250px ;
}
.section {
  padding: 1rem ; 
  text-align:  center;
  height :  260px ;
}
.title-h2 {
  margin-top: 0;
}
.title-p {
  font-weight: 400;
  max-width: 600px;
color: #000;
}
.product-price {
  color: red;
  font-size: 1.3rem;
}