.imageNike {
    
    width: 90%;
    justify-content: center;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
 }
 
   .nike {
       padding-top: 2rem;
       margin: 1rem;
   }
   .example {
     background-color: rgb(218, 216, 216);
       font-size: 1.5rem;
       font-weight: 1rem;
       flex-wrap: wrap;     
       padding: 1rem;
       margin: 2rem;
      text-align: center;
       align-items: center;
       word-spacing: 3px;
       line-height: 2rem;

      
 
   }
   ul li {
     list-style-type: none ;
   }
   h3 {
       padding-top: 2rem;
   }
 