.NavItem a {
  display: block;
  padding: 1rem 1.5rem;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.NavItem a.active {
  border-color: white;
  color: white;
  background-color: rgba(0, 0, 0, 0.603);
}
.NavItem a:hover {
  background-color: rgba(49, 99, 156, 0.63);
  color: white;
  background-color: rgba(0, 0, 0, 0.178);
}

@media (max-width: 620px) {
  .NavItem a {
    border-top: none;
    border-right: 5px solid black;
  }
}