body {
  margin: 0;
  font-family: 'Bree Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(207, 201, 201, 0.192);
}
/* rgb(239, 234, 234); */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1rem;
  box-shadow: none;
 
}